@model RecruitYourselfApplication.Web.Models.Account.RegisterVolunteerViewModel

@using (Html.BeginForm("RegisterVolunteer", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.Age, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-3 text-right">
                @Html.LabelFor(m => m.Image, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </div>
}
